/*
#disqus_thread * {
 all: initial;
}
*/

a {
 cursor: pointer;
}

#disqus_thread {
 display: block !important;
}

#disqus_thread .disqus-post {
 display: block;
 padding: 1em;
 padding-left: 2em;
 margin-top: 2px;
 border: 2px solid black;
}

#disqus_thread .post-header {
 display: block;
 border-left: 1em;
 background-color: #ccc;
}

#disqus_thread .post-body {
 display: block;
 border-left: 1em;
 padding: 0.5em;
}

#disqus_thread .author-link:link {
 color: #841;
}

#disqus_thread .author-link:visited {
 color: "#101666;"
}

#disqus_thread a:link {
 color: #5f256b;
}

#disqus_thread .author-name {
 font-weight: bold;
 padding-left: 1em;
}

#disqus_thread .avatar-figure {
 display: block;
 float: left;
 visibility: visible;
 margin-right: 5px;
 cursor: pointer;
}

#disqus_thread .avatar-link {
 visibility: visible;
}

#disqus_thread .post-date {
 color: #39371a;
 padding-left: 1em;
}

#disqus_thread .avatar {
 visibility: visible;
}

.post-footer button {
 font-size: 15px;
 font-weight: bold;
 cursor: pointer;
 margin: 1px;
 padding: 1px;
 display: inline;
}

#disqus_thread .up {
 background-color: #9f9;
}

#disqus_thread .down {
 background-color: #f99;
}

#disqus_thread .reply {
 background-color: #99f;
}

#disqus_thread .delete-comment {
 background-color: black;
 color: red;
}

#community-tab {
 margin-left: 2em;
}

form {
 display: block;
}

textarea {
 width: 100%;
 border: 1px solid black;
}

form button {
 background-color: #ccc;
}

a, button {
 cursor: pointer;
}


